<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2023 Atwix. All rights reserved.
 *
 * @package  Atwix_CustomerRegistrationTest
 * @author   Atwix <info@atwix.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Atwix_CustomerRegistrationTest" >
        <sequence>
            <module name="Magento_Customer"/>
            <module name="Magento_Email"/>
            <module name="Atwix_CustomerRegistrationTestApi"/>
        </sequence>
    </module>
</config>
